src/main/resources/ws/resolver/ResolverServices_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/07/2014 12:56 PM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.resolver.isban.mx/" version="1.0" targetNamespace="http://ws.resolver.isban.mx/">

  <xs:element name="getCommonNameFromCorpID" type="tns:getCommonNameFromCorpID"></xs:element>

  <xs:element name="getCommonNameFromCorpIDResponse" type="tns:getCommonNameFromCorpIDResponse"></xs:element>

  <xs:element name="getCorporateUserFromLocalID" type="tns:getCorporateUserFromLocalID"></xs:element>

  <xs:element name="getCorporateUserFromLocalIDResponse" type="tns:getCorporateUserFromLocalIDResponse"></xs:element>

  <xs:element name="getEmailFromCorpID" type="tns:getEmailFromCorpID"></xs:element>

  <xs:element name="getEmailFromCorpIDResponse" type="tns:getEmailFromCorpIDResponse"></xs:element>

  <xs:element name="getLocalUserFromCorpID" type="tns:getLocalUserFromCorpID"></xs:element>

  <xs:element name="getLocalUserFromCorpIDResponse" type="tns:getLocalUserFromCorpIDResponse"></xs:element>

  <xs:element name="getLocationFromCorpID" type="tns:getLocationFromCorpID"></xs:element>

  <xs:element name="getLocationFromCorpIDResponse" type="tns:getLocationFromCorpIDResponse"></xs:element>

  <xs:element name="getPositionFromCorpID" type="tns:getPositionFromCorpID"></xs:element>

  <xs:element name="getPositionFromCorpIDResponse" type="tns:getPositionFromCorpIDResponse"></xs:element>

  <xs:complexType name="getEmailFromCorpID">
    <xs:sequence>
      <xs:element name="arg0" type="tns:requestCorporativo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestCorporativo">
    <xs:complexContent>
      <xs:extension base="tns:requestLDAP">
        <xs:sequence>
          <xs:element name="identificadorCorporativo" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="requestLDAP">
    <xs:sequence>
      <xs:element name="claveAplicativo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="usuarioAplicativo" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEmailFromCorpIDResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseConsultaUsrLDAP" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseConsultaUsrLDAP">
    <xs:sequence>
      <xs:element name="codigoError" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mensajeError" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCorporateUserFromLocalID">
    <xs:sequence>
      <xs:element name="arg0" type="tns:requestLocal" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestLocal">
    <xs:complexContent>
      <xs:extension base="tns:requestLDAP">
        <xs:sequence>
          <xs:element name="identificadorLocal" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getCorporateUserFromLocalIDResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseConsultaUsrLDAP" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLocationFromCorpID">
    <xs:sequence>
      <xs:element name="arg0" type="tns:requestCorporativo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLocationFromCorpIDResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseConsultaUsrLDAP" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPositionFromCorpID">
    <xs:sequence>
      <xs:element name="arg0" type="tns:requestCorporativo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPositionFromCorpIDResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseConsultaUsrLDAP" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCommonNameFromCorpID">
    <xs:sequence>
      <xs:element name="arg0" type="tns:requestCorporativo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCommonNameFromCorpIDResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseConsultaUsrLDAP" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLocalUserFromCorpID">
    <xs:sequence>
      <xs:element name="reqUsrLDAP" type="tns:requestCorporativo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLocalUserFromCorpIDResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseConsultaUsrLDAP" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>